#slide1 h1, .bar, .reveal .slides section .bar {
	font-family: "Helvetica";
	font-weight: 100;
}

.bar, .reveal .slides h1 {
	font-family: "Helvetica";
	font-weight: 100;
	text-transform: none;
	font-size: 1.9em;
}
.bar, .reveal .slides h2 {
	font-family: "Helvetica";
	font-weight: 100;
	text-transform: none;
	font-size: 1.3em;
}

#slide1 h1 { color: white; text-align: right; }
#slide1 h2 { color: rgba(255,255,255,0.8); text-align: right; }

.reveal section img {
    margin: auto;
    background: none;
    border: none;
    box-shadow: none;
}

.reveal section img.inline { height: 1.2em; vertical-align: middle; }
.reveal section img.h200 { height: 200px; }

.flex { display: flex; }
.flex > * { flex-basis: 1; flex-grow: 1; flex-shrink: 0; }
.multicol { justify-content: center; justify-content: space-around; align-items: flex-start; }
.multicol > * { flex-grow: 0; }
.flex-right { display: flex; }
.flex-right > * { flex-grow: 0; }

svg .pipe {	fill: #29AF1D; stroke-width: 0; }
svg .pipebar {	fill: #219417; stroke-width: 0; }

.reveal section div.blue-container {
	margin: 0 -15vw; padding: 0 15vw;
	background-color: #00A6D6;
}

.bar, .reveal .slides section .bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	font-size: 42px;
	font-weight: 100;
	background-color: #1CA4FC;
	color: white;
	height: 132px;
	line-height: 132px;
	padding: 0 30px;
}

.bar * {
	margin: auto;
	flex: 1;
	flex-grow: 0.2;
	white-space: nowrap;
}
.bar .space { flex-grow: 0.4; }
.reveal section .bar img { border: none; box-shadow: none; background: none; margin: auto; }

mark {
	background: lightgreen;
}

svg .arrow {
	stroke-width: 3px;
	stroke: black;
	marker-end: url(#arrow);
}
svg .arrow2 { stroke-width: 3px; stroke: black; marker-end: url(#arrow2); }

svg.overflow {
	overflow: visible;
}

/*********************************************
 * MARBLE DIAGRAMS
 *********************************************/
.layered {
    position: relative;
}
#marbles {
	background: lightgray;
}
.marblediagram {
    width: 100%;
    height: 60px;
}
.layered .fg {
    z-index: 10;
}
.layered .bg, .layered .fg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.marblediagram svg {
    height: 100%;
    width: 100%;
    z-index: 5;
    position: absolute;
		overflow: visible;
}
.marbleevent > span {
    display: none;
    max-width: 400px;
    width: auto;
    overflow: auto;
    background: rgba(0,0,0,0.8);
    border-radius: 3px;
    padding: 5px;
    margin-top: 43px;
    color: white;
    word-wrap: break-word;
    direction: ltr;
    cursor: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.marbleevent:hover > span, .marbleevent:active > span, .marbleevent:focus > span {
    display: inline-block;
    white-space: nowrap;
}
.marblediagram line.time {
    stroke: lightgray;
    stroke-width: 2px;
}
.marblediagram line.active {
    stroke: black;
    stroke-width: 2px;
}
.marblediagram .arrow {
    stroke-width: 1px;
    stroke: gray;
    stroke-dasharray: 10, 5;
    marker-end: url(#arrow);
}
.marblediagram circle.next {
    fill: limegreen;
}
.marblediagram .complete,
.marblediagram .error {
    stroke-width: 2;
    stroke: black;
}
.reveal #marbles .operator {
    height: 40px;
    line-height: 38px;
    padding: 0 10px;
    border: 1px solid #777;
    box-sizing: border-box;
    background: white;
    text-align: center;
    position: relative;
    /* margin-left: 20px; */
    font-size: 0.7em;
}
.marbleevent {
    position: absolute;
    width: 18px;
    margin-left: -9px;
    height: 100%;
    outline: none;
}

table { white-space: nowrap; }
table i.up:before { display: inline; content: "▲"; color: lightgreen; }
table i.down:before { display: inline; content: "▼"; color: red; }

html body .reveal section blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  text-align: left;
}
html body .reveal section blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
html body .reveal section blockquote p {
  display: inline;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: rgba(255,255,255,1); }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: rgba(255,255,255,1); }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: rgba(255,255,255,1); }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: rgba(255,255,255,1); }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: rgba(255,255,255,.8); }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: rgba(255,255,255,.8); }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: rgba(255,255,255,.8); }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: rgba(255,255,255,.8); }
